
* {
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  height: 100%;
  width: 100%;
  }
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #444444;
  font-size: 14px;
  }
.limit {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  margin: auto;
}
.container {
  .limit;
}
.section {

}

///////header//////
.nav {
  font-size: 1.2rem;
    font-weight: 400;
  &__link {
    text-decoration: none;
    color: gray;
    margin: 0 15px;
  }
}
.header {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
    width: 100%;
  &__wrap {
    .limit;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.lang-changer {
  display: flex;
  align-items: center;
  &__item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .delimeter {
    margin: 0 10px;
    color: gray;
  }
}
.logo-img {
  margin: 0 30px;
}
.header-el {
  display: flex;
  align-items: center;
  .material-icons {
margin: 0 25px;
  }
}
////////header///////

//////home//////////

//////home//////////
