@gray100: #f5f5f5;
@gray300: #e0e0e0;
@gray400: #bdbdbd;
@gray600: #757575;
@gray800: #424242;
@gray900: #212121;
@gray: #707070;

@red: #F01429;

/* <v-icon class="w60" name="eye"></v-icon> */
/* https://qinshenxue.github.io/vue-icon/ */
.v-icon {
    width: 24px;
    &.w12 {
        width: 12px;
    }
    &.w18 {
        width: 18px;
    }
    &.w32 {
        width: 32px;
    }
    &.w48 {
        width: 48px;
    }
    &.w60 {
        width: 60px;
    }
}

.bg--gr1 {
    background-color: @gray100;
}

.bg--gr3 {
    background-color: @gray300;
}

.bg--gr4 {
    background-color: @gray400;
}

.bg--gr6 {
    background-color: @gray600;
}

.bg--gr8 {
    background-color: @gray800;
}

.bg--gr9 {
    background-color: @gray900;
}

.bg--gr {
    background-color: @gray;
}

.content-centred {
    text-align: center;
}

.row {
    display: flex;
}

.row--sb {
    .row;
    justify-content: space-between;
}
.row--vc {
    .row;
    align-content: center;
}

.limit {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    margin: auto;
}

.limit-s {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin: auto;
}

.limit-l {
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    margin: auto;
}

.container {
    .limit;
    position: relative;
}

.container-s {
    .limit-s;
}

.container-l {
    .limit-l;
}

.section {
    &__title {
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 3rem;
    }
    &__btn {
        margin-top: 30px;
        &--centred {
            display: flex;
            justify-content: center;
        }
        &--right {
            display: flex;
            justify-content: flex-end;
        }
    }
}
.section__pad {
    padding: 65px 0;
}
.btn {
    background: transparent;
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 25px 45px;
    &--base {
        .bg--gr;
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
    }
    &--white {
        background: white;
        color: black;
        font-weight: 600;
        font-size: 1.5rem;
    }
    &--red {
        background: @red;
        color: white;
        font-size: 1.2rem;   
    }
    &--one-third {
      width: 370px;
    }
}

.txt {
    line-height: 1.2;
    &--black {
        color: #000000;
    }
    &--gray {
        color: @gray800;
    }
    &--white {
        color: white;
    }
}

.numbered {
    display: flex;
    &__item {
        text-align: center;
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
        .num {
            font-weight: 800;
            line-height: 1.5;
            color: #000000;
        }
        .txt {
            font-size: 1.2rem;
            color: @gray600;
        }
    }
    &--centred {
        justify-content: center;
        .numbered__item {
            margin: 0 50px;
        }
    }
    &--b {
        margin: 35px 0;
        .num {
            font-size: 3rem;
        }
        .txt {
            font-size: 1.2rem;
        }
    }
    &--m {
        margin: 30px 0;
        .num {
            font-size: 2rem;
        }
        .txt {
            font-size: 1rem;
        }
    }
    &--s {
        margin: 25px 0;
        .num {
            font-size: 1.5rem;
        }
        .txt {
            font-size: 0.8rem;
        }
    }
}

.grid-row {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    &__item {

    }
}
.filter {
  &__type {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    padding: 15px 25px;
    color: @gray600;
    font-size: 1rem;
    text-align: center;
    background: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background: darken(white, 10%);
    }
  }
}
